body {
    font-size: 20px !important;

    /* Tamaño base */
    line-height: 1.5;
    /* Espaciado entre líneas */
}

h1 {
    font-size: 2em;
    /* Tamaño de encabezado grande */
}

h2 {
    font-size: 1.5em;
    /* Tamaño de encabezado mediano */
}

p {
    font-size: 1em;
    /* Tamaño de párrafo normal */
}

ul {
    list-style-type: none;
}